* {
    box-sizing: border-box;
    margin: 0;
}
span, a, label {
    display: inline-block;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.nav {
    background-color: gold;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}
.main {
    background-color: lime;
    padding: 120px 70px;
    font-size: 18px;
}